#foto-chunga {
    margin: auto;
    max-width: 500px;
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
;
}
.top{
    z-index: 100000;
}
.half-rule {
    margin-left: 0;
    text-align: left;
    width: 50%;
}
.half-black {
    background: rgba(1, 1, 1, 0.7);
}
.vidContain {
    width:300px; height:200px;
    position:relative;
    display:inline-block;
    margin:10px;
}
.vid {
    position: absolute;
    top: 0; left:0;
    width: 100%; height: 100%;
    z-index: -1;
}
.contentvideo {
    position:absolute;
    top:0; left:0;
    background: black;
    color:white;
}
body {
    opacity: 1;
    transition: 2s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}